@font-face {
    font-family: "FF Meta";
    src: url("fonts/ff-meta-serif-pro.otf");
}

body {
    background-color: rgb(245, 245, 245);
    font-family: "FF Meta", "Times New Roman";
}

#page {
    width: 100%;
    height: 100%;
    text-align: center;
}

#word-preview {
    border: solid black;
    border-width: 1px 0px 1px 0px;
    padding: 0px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    text-align: left;
}

#textbox {
    border: 1px solid black;
    margin-top: 15px;
    font-size: 24px;
    font-family: "FF Meta", "Times New Roman";
}

.error {
    background-color: rgb(255, 100, 100);
}

#reset {
    width: 100px;
    /*height: 50px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 1px solid black;
    font-size: 22px;
    cursor: pointer;
}

.current-word {
    background-color: lightgrey;
}

.word {}

#results {
    border: solid black;
    border-width: 0px 1px 0px 1px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 22px;
}

#results div span {
    color: green;
    font-family: Times;
}

.descriptor {
    width: 100px;
    display: inline;
}

#word-choices {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 15px;
}

.option-box div {
    display: inline;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
}

.option-box div:hover {
    color: black;
}

.unselected {
    color: lightgrey;
}

.selected {
    color: black;
}